{% url 'etf_details' etf_symbol as details_url %}
{% url 'purchase_etf' etf_symbol as purchase_url %}
{% if details_url %}
    <tr>
        <td>
            <a href="{{ details_url }}"><strong>{{ etf_symbol }}</strong></a> 
        </td>
        <td>
            {% for key, value in etf_quotetypes %}
                {% if key == etf_symbol %}
                    <p>{{ value }}</p>
                {% endif %}
            {% endfor%}
            <p></p>
        </td>
        <td>
            {% for key, value in etf_companies %}
                {% if key == etf_symbol %}
                    <p>{{ value }}</p>
                {% endif %}
            {% endfor %}
        </td>
        <td>-Chart-</td>
        <td>
            {% for key, value in etf_prices %}
                {% if key == etf_symbol %}
                    <p>{{ value }}</p>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for key, value in etf_growths %}
                {% if key == etf_symbol %}
                    <p>{{ value }}</p>
                {% endif %}
            {% endfor %}
        </td>
        <td>
            <a href="{{ purchase_url }}">Buy</a>
        </td>
    </tr>
{% endif %}