{% include 'partials/base.html' %}
<div class="container">
    <div>
        {% include "partials/etf_name.html" %}
        <div>
            <h2>Cool chart<h2>
        </div>
        <h2>Summary</h2>
        <p>{{ etf_summary }}</p>
        {% if etf_website %}
            <P>Website: <a href="{{etf_website}}">{{ etf_website }}</a></p>
        {% endif %}
    </div>
    <div>
        {% if etf_amount %}
            <h2>{{ etf_price }} per {{ etf_amount }} share(s)<h2>
        {% else %}
            <h2>{{ etf_price }} per share<h2>
        {% endif %}
        {% url 'purchase_etf' etf_symbol as purchase_url %}
        {% if purchase_url %}
        <h2><a href="{{ purchase_url }}">Buy</a></h2>
        {% endif %}
    </div>
    <div>
        <h2>Purchase history</h2>
    </div>
    <!--
        <div>
            <h1>DATA</h1>
            <p>{{ etf_data }}</p>
        </div>
    -->
</div>