{% include 'base.html' %}
<body> 
    <div class="container">
        <div>
            <h1>Browse ETFs</h1>
            {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags %} class="{{ message.tags }} alert" {% endif %} role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Symbol</th>
                        <th scope="col">Quote type</th>
                        <th scope="col">Company</th>
                        <th scope="col">History</th>
                        <th scope="col">Price</th>
                        <th scope="col">Growth</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody> 
                    {% for etf in etf_list %}
                        {%  include "partials/etf_browse_listing.html" with etf_symbol=etf.symbol %}
                    {% empty %}
                        <td>No ETFs available</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>