{% include 'base.html' %}
<div class="container">
    <div>
        {% include "partials/etf_name.html" %}
        <h2>Cool chart</h2>
    </div>
    <div>
        {% if etf_amount %}
            <h2>{{ etf_price }} per {{ etf_amount }} share(s)<h2>
        {% else %}
            <h2>{{ etf_price }} per share<h2>
        {% endif %}
    </div>
    <div>
        <form method="post" action={% url 'instantiate_etf' etf_symbol %}>
            {% csrf_token %}
            <button class="btn btn-outline-primary" type="submit">Pay now</button>
            <input type="hidden" value="a_test" name="username"/>
        </form>
    </div>
</div>